{:paths ["src" "resources"]
 :jvm-opts ["-Xmx6g"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/data.priority-map {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.2.603"}
        org.clojure/core.logic {:mvn/version "1.0.0"}
        seancorfield/next.jdbc {:mvn/version "1.1.613"}
        cljol/cljol {:git/url "https://github.com/jafingerhut/cljol"
                     :sha "11d4aa72fdd19248bd7600fb7b5cde7189f32938"}
        org.xerial/sqlite-jdbc {:mvn/version "3.32.3.2"}
        inflections/inflections {:mvn/version "0.13.2"}
        com.taoensso/tufte {:mvn/version "2.2.0"}
        clojure-opennlp/clojure-opennlp {:mvn/version "0.5.0"}
        uk.ac.abdn/SimpleNLG {:mvn/version "4.5.0"}
        net.sf.sociaal/freetts {:mvn/version "1.2.2"}
        enlive/enlive {:mvn/version "1.1.6"}
        integrant/integrant {:mvn/version "0.8.0"}
        org.clojure/data.fressian {:mvn/version "1.0.0"}
        com.taoensso/nippy {:mvn/version "3.0.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        com.owoga/tightly-packed-trie {:mvn/version "0.2.1"}}
 :aliases {:dev {:extra-paths ["test" "examples" "dev"]
                 :extra-deps {}}}}
